.no-display {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #945c3e !important;
}

.table-bordered tr td, .table-bordered tr th{
  border: 1px solid #dddddd;
  border-right-width:0px;
  border-left-width:0px;
}
.table td, .table th {
	padding: .40rem;
}

.amenities-div {
	padding-right: 5px !important;
    padding-left: 5px !important;
	padding-top: 10px;
    border: 1px solid;
    border-color: #8080801c;
}

.svg-amenities {
	width: 100%; 
	padding: 0 10%;
	height: 10vw;
	fill: #785c46c2;
}

.font-amenities {    
	font-size: 12px;
	margin: 5px 0 10px 0  !important;
	text-align: center;
}

.key-features {
    margin-bottom: 15px;
}


.key-features h4 {
    margin-bottom: 15px;
}

.key-feature {
    font-size: 16px;
    font-weight: normal;
    text-transform: capitalize;
	padding: 5px 10px;
	background-color: rgba(245, 248, 250, 0.58);
	border: 1px solid #DDDDDD;
    margin-bottom: 2px;
}


.key-feature:hover {
    color: #92c800;
}

.fade:not(.show) {
    display: none;
}

.bold-font p span {
font-weight: bold;
}

.col-12 {
	padding-right: 5px;
	padding-left: 5px;
}
.resp-container {
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}
.resp-iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.padding-10 {
	padding: 10px;
}

.tab-content-border {
	border: 1px solid;
	border-color: #fff #dee2e6 #dee2e6 #dee2e6;
}

.height-120 {
	height: 120px !important;
}

.height-100 {
	height: 120px !important;
}

.height-400 {
	height: 400px !important;
	overflow-y: auto;
}

.max-height-400 {
	max-height: 400px !important;
	overflow-y: auto;
}

.font-8 {
	font-size: 8px !important;
}

.font-9 {
	font-size: 9px !important;
}

.font-10 {
	font-size: 10px !important;
}

.font-11 {
	font-size: 11px !important;
}

.font-12 {
	font-size: 12px !important;
}

.font-14 {
	font-size: 14px !important;
}

.font-16 {
	font-size: 16px !important;
}

.font-18 {
	font-size: 18px !important;
}

.font-20 {
	font-size: 20px; !important;
}

.rera-no {
	font-size:12px;
	margin: 0px;
	max-width: 100%;
	word-break:break-all;
}

.green-middle {
	color:#5d7d05;
	vertical-align: middle;
}

.v-align-middle {
	color:#5d7d05;
	vertical-align: middle;
}

.mb-0 {
	margin-bottom: 0px !important; 
}


.h4-1 {
	font-size: 1em;
	margin-bottom: 0px;
}

.h4-125 {
	font-size: 1.15em; 
	margin-bottom: 0px;
}
.pdf-icon {
	height:1.5rem;
}

/*
 * bootstrap-tagsinput v0.8.0 Start
 */

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  //box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  //border-radius: 4px;
  width: 100%;
  line-height: 22px;
  cursor: text;
}

.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .badge {
  color: #000000;
  font-weight: normal;
  background-color:#92c80070;
  padding:4px 6px;
  border-radius:0px;
  border:1px solid #92c800;
  font-size: 11px;
}
.bootstrap-tagsinput .badge [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .badge [data-role="remove"]:after {
  content: "×";
  padding: 0px 4px;
  background-color:rgba(0, 0, 0, 0.1);
  border-radius:50%;
  font-size:13px
}
.bootstrap-tagsinput .badge [data-role="remove"]:hover:after {

  background-color:rgba(0, 0, 0, 0.62);}
.bootstrap-tagsinput .badge [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}


.icon-github {
    background: no-repeat url('../img/github-16px.png');
    width: 16px;
    height: 16px;
}

.bootstrap-tagsinput {
    width: 100%;
}

.accordion {
    margin-bottom:-3px;
}

.accordion-group {
    border: none;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.twitter-typeahead .tt-hint
{
    display: none;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.border-top {
    border-top: 1px solid #ebebeb;
}
.single-recent-post .post-thumb-40 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    max-width: 40px;
    width: 40px;
    margin-right: 20px;
}
.single-recent-post .post-content .post-title {
    font-size: 16px;
	font-weight: normal;
    text-transform: capitalize;
}
.fa-map-marker {
    color: #92c800 !important;
}
.fa-angle-double-right {
    color: #92c800 !important;
}
.fa {
    padding: 4px;
}

/* Affix - Bottom panel starts */
.mobile-footer-box {
	width: 20%;
	float: left;
	text-align: center;
	height: 40px;
}
.mobile-screen-footer {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	background-color: #6f6f6fcc;
	float: left;
	width: 100%;
	padding: 5px 0px;
	z-index: 9999 !important;
}
.mobile-footer-box a img {
	width: 25px;
	margin: 0px auto;
}
.mobile-footer-box a h5 {
	font-size: 10px;
	margin: 5px 0px 0px 0px;
	color: #fff !important;
}
/* Affix - Bottom panel ends */
		  
/*
*   bootstrap-tagsinput v0.8.0 End
*/

/* Blog css starts */
.chang-lang {
	margin: 0px 0px 10px 10px;
}
.chang-lang a {
    font-size: 12px;
    text-transform: uppercase;
    color: #292f3b;
    border: 1px solid rgba(235, 235, 235, 0.53);
    height: 26px;
    min-width: 80px;
    line-height: 24px;
    text-align: center;
    -webkit-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    transition-duration: 400ms;
}
.breadcrumb-area-third {
	    height: 140px ! important;
}
.rehomes-news-area .blog-news-area .single-blog-post-area .blog-details-text p {
	text-indent: 40px;
    text-align: justify;
}
.rehomes-news-area.blog-details .blog-details-area .post-author-area .author-social-info a {
    margin-right: 10px ! important;
}
.rehomes-news-area.blog-details .blog-details-area .post-author-area .author-social-info p {
    margin-right: 0 ! important;
}
.rehomes-news-area .blog-news-area .single-blog-post-area {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
    margin: 10px;
}
.rehomes-news-area.blog-details .blog-details-area .rehomes-blockquote .text {
    background-color: #f5f8fa;
    padding: 15px;
    text-align: justify;
}
.rehomes-news-area.blog-details .blog-details-area .blog-details-title {
    font-size: 24px;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 30px;
    border-bottom: 1px solid #0000000d;
}
.rehomes-news-area.blog-details {
    margin-bottom: -80px;
}
.rehomes-news-area .blog-news-area .single-blog-post-area p {
    text-align: justify;
}
.highlights li {
    margin-left: 15px;
    list-style: disc;
	list-style-type: disc;
}
.font-normal {
	font-weight: normal ! important;
}
/* Blog css ends */